<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <title>Авторизация</title>
</head>
<body>
    <div class="container">
        <div class="entry-cont">
            <p class="entry">Вход</p>
        </div>
        <form id = "form">
            <p class="login_password">Логин</p>
            <input class="inpt" type="text" placeholder="Логин" id = "username">

            <p class="login_password">Пароль</p>
            <input class="inpt" type="password" placeholder="Пароль" id = "password">

            <button type = "submit" class="butt">Войти</button>
            <br>
            <a class="register" href="/web/register">Нет аккаунта? Зарегистрироваться</a>
        </form>
    </div>
    <script src = "/js/login.js"></script>
</body>
</html>