<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
    <link rel="stylesheet" href="/css/mainpage.css">
</head>
<body>
    <div class="header">
        <a href="/web/search" class="but">🔍 Поиск</a>
        <p class="nazvanie">SIGMA</p>
        <a href="/web/profile" class="but">👤 Профиль</a>
    </div>
    <div class="main-container">
        <div class="left">
            <button onclick="closeEvents()" class="form-but">Ближайшие мероприятия</button>
            <button onclick="weekEvents()" class="form-but">Мероприятия текущей недели</button>
            <button onclick="monthEvents()" class="form-but">Мероприятия следующего месяца</button>
            <button onclick="quarterEvents()" class="form-but">Мероприятия квартала</button>
            <button onclick="halfEvents()" class="form-but">Мероприятия полугодия</button>
        </div>
        <div class="center">
            <h1 class="events">Список выбранных событий</h1>

            <ul>
                <div class="card" th:each="event : ${events}" th:data-event-id="${event.id}" onclick="deleteEvent(this)">
                    <h1 class="card-title" th:text="${event.categoryName}"></h1>
                    <p class="card-subtitle" th:text="${event.type}"></p>
                    <p id="event-id" class="event-identificator" th:text="${event.id}"></p>
                    <div>
                        <div class="card-participants" th:text="${event.participants}"></div>
                        <div class="card-participants-label">участ-ов</div>
                    </div>
                    <div class="card-info">
                        <span th:text="${event.sexAndAge}"></span>
                        <span th:text="${event.country} + ', ' + ${event.region}"></span>
                        <br>
                        <p>(Нажмите, чтобы удалить)</p>
                    </div>
                    <div class="card-dates" th:text="${#dates.format(event.startDate, 'yyyy-MM-dd')} + ' - ' + ${#dates.format(event.endDate, 'yyyy-MM-dd')}"></div>
                </div>
        
        
            </ul>
        </div>
        <div class="right">
            <h3 class="recomendation">Рекомендации</h3>
            <ul>
                <div class="card2" th:each="rec : ${recs}" th:attr="data-eventid=${rec.id}" onclick="subscribeToEvent(this)">
                    <h1 class="card-title" th:text="${rec.categoryName}"></h1>
                    <p class="card-subtitle" th:text="${rec.type}"></p>
                    <div>
                        <div class="card-participants" th:text="${rec.participants}"></div>
                        <div class="card-participants-label"></div>
                    </div>
                    <div class="card-info">
                        <span th:text="${rec.sexAndAge}"></span>
                        <span th:text="${rec.country} + ', ' + ${rec.region}"></span>
                        <br>
                        <p>(Нажмите, чтобы добавить)</p>
                    </div>
                    <div class="card-dates" th:text="${#dates.format(rec.startDate, 'yyyy-MM-dd')} + ' - ' + ${#dates.format(rec.endDate, 'yyyy-MM-dd')}"></div>
                </div>
            </ul>
           
        </div>
    </div>
    <script src="/js/mainpage.js"></script>
</body>
</html>
