<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Авторизация</title>
    <link rel="stylesheet" href="/css/register.css">
</head>
<body>
    <main>
        <div class="title-container">
            <h1 class="title">SIGMA</h1>
        </div>
        <div class="form-container">
            <form class="form">
                <h2>Регистрация</h2>
                <label for="login">Логин</label>
                <input name="login" type="text" placeholder="Логин" id="login" required>
                <label for="email">Email</label>
                <input name="text" type="email" placeholder="Email" id="email" required>
                <label for="password">Пароль</label>
                <input name="text" type="password" placeholder="Пароль" id="password" required>
                <button type = "submit" class="btn">Зарегистрироваться</button><br>
                <a href="/web/login">Уже есть аккаунт? Войти</a>
            </form>
        </div>
    </main>
    <script src="/js/register.js"></script>
</body>
</html>
