* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: white;
}
body {
    font-family: Arial, sans-serif;
    background: url("../images/Shiny Overlay.svg") no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #314468;
    padding: 10px 20px;
    color: white;
}

.nazvanie {
    font-size: 24px;
    font-weight: bold;
}

.but {
    background: none;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    gap: 30px;
}

.left, .right, .center {
    border-radius: 15px;
    padding: 20px;
    background-color: rgba(49, 88, 129, 0.63);
    color: white;
}

.left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    max-width: 400px;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    max-height: 500px;
}

.form-but {
    padding: 10px;
    
    background: none;
    color: white;
    border: none;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    border-radius: 15px;
    transition: 0.3s;
    height: 70px;
    width: 250px;
}

.form-but:hover {
    transform: scale(1.05);
}

.center {
    flex: 2;
    max-width: 650px;
    width: 100%;
    border-radius: 30px;
    padding: 20px;
    margin-right: 32%;
}

.events {
    font-family: 'Iter', sans-serif;
    font-size: 40px;
    font-weight: 300;
    line-height: 58.09px;
    color: #FFFFFF;
    text-align: center;
}

.right {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 400px;
    width: 100%;
    align-items: center;
}

.recomendation {
    font-family: 'Iter', sans-serif;
    font-size: 36px;
    font-weight: 300;
    line-height: 48.41px;
    color: #FFFFFF;
    text-align: center;
}
a {
    text-decoration: none;
}
.card, .card2 {
    background-color: rgba(29, 68, 109, 1.0);
    color: white;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: transform 0.3s ease, margin 0.3s ease;
    margin-bottom: 20px;
}

.card:hover, .card2:hover {
    transform: scale(1.02);
    margin-left: -5px;
    margin-right: -5px;
}

.card-title {
    font-size: 18px;
    font-weight: bold;
}

.card-subtitle {
    font-size: 14px;
    text-transform: uppercase;
}

.card-participants {
    font-size: 32px;
    font-weight: bold;
    text-align: right;
}

.card-participants-label {
    font-size: 12px;
    text-align: right;
}

.event-identificator {
    font-size: 10px;
}

.card-dates {
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
}

.card-info span {
    display: block;
    font-size: 14px;
}

ul {
    list-style: none;
}

@media (max-width: 768px) {
    .main-container {
        flex-direction: column;
        gap: 15px;
    }

    .left, .right, .center {
        max-width: 100%;
    }
}
